
.cardStyle {
    background-color: #F27C21;
    color: #ffffff;
}


.date {    
    font-size: 75;
    color: #ffffff;   
    text-align: center;
    padding: 10;

}

.date-month {
    font-size: 18;
    color: #FCD837;
    text-align: center;

}

.lab-name {
    padding-left: 15;   
    font-size: 20;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 8;
}

.lab-sub-name {
    padding-left: 10;
    font-size: 17;
    font-weight: 400;
    color: #F27C21;
    text-align: center;
    padding-bottom: 5;
}

  .icon {
    font-family: 'icomoon';
    font-size: 58;
 }

.info{
      /* background-color: #042fd0; */
      background-color: #F27C21;
  }

.lab-info{
    background-color: #FFFFFF;
    color: #000000;
    padding-top: 10;
}

.address-info{
    background-color: #F27C21;
    color: #FFFFFF;
    padding: 10;
    text-align: center;
    font-size: 18;
    font-weight: 600;
}
.fa {
    font-family: 'FontAwesome', 'fontawesome-webfont';
    font-size: 25;
    width: 30;
    text-align: center;
    padding-top: 20%;
    color: #ffffff;    
  }

  .clock {
    font-size: 4em;
  }

  /* .checkin {
    background-color: lightgreen;
    color: #000000;
  }
  .expense {
    background-color: lightgreen;
    color: #000000;
  } */

  .checkin {
    background-color: #FCD837;
     color: #000000;
  }

 .expense {
   background-color: #FCD837;
    color: #000000;
  } 		    

  .company {
   text-align: center;
   font-weight: 500;
   font-size: 24;
  }